:root {
	--global-font-size: 15px;
	--global-line-height: 1.4em;
	--global-space: 10px;
	--font-stack: Menlo, Monaco, Lucida Console, Liberation Mono,
	DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace,
	serif;
	--mono-font-stack: Menlo, Monaco, Lucida Console, Liberation Mono,
	DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace,
	serif;
	--background-color: #1d2021;
	--page-width: 60em;
	--font-color: #ebdbbd;
	--invert-font-color: #1d2021;
	--secondary-color: #928374;
	--tertiary-color: #928374;
	--primary-color: #689d6a;
	--error-color: #cc241d;
	--progress-bar-background: #282828;
	--progress-bar-fill: #d79921;
	--code-bg-color: #282828;
	--input-style: solid;
	--display-h1-decoration: none;
}

.skills {
	display: inline-block;
	vertical-align: top;
	margin-right: 50px;
}
