.gopro {
  margin-top: 50px;
  margin-bottom: 50px;
  width: 100%;
  padding-top: 75%; /* 1:1 Aspect Ratio */
  position: relative; /* If you want text inside of it */
}

.gopro * {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}

.gopro4k {
  margin-top: 50px;
  margin-bottom: 50px;
  width: 100%;
  padding-top: 56.25%; /* 1:1 Aspect Ratio */
  position: relative; /* If you want text inside of it */
}

.gopro4k * {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}

.blogpost {
  margin-top: 10px;
  margin-bottom: 10px;
}

.pdfviewer {
	aspect-ratio: 1 / 1.4142;
}
